<div class="container">
    <header>
        <p>Welcome to our Courses</p>
    </header>
    <main>
        <h3>let's learn</h3>
        <p>We love sharing good knowledge with great people.
            <br>We bring over 30 years industry experience and passion to <a style="color:white;" href="#">Shubham.</a>
            <br>With a courses that are carefully designed to bring you a truly
            <br>satisfying training experience that you are sure to remember
        </p>

        <a href="mailto:daniel@mywebsite.com?Subject=Reservation">Register for Course</a>
    </main>
    <footer>
        <p>50 JaisreeNagar PO-Dakhineswar, Shubham & Co. - Copyright 2017©</p>
    </footer>
</div>